{#
Copyright 2019 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{% set numberOfResults = 0 %}

{% for product in products %}
  <a href="{{ path('product_page', {slug: product.slug}) }}"
    class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-3 align-self-center">
        <img src="{{ asset(product_image_directory ~ product.image) }}"
          class="img-fluid" alt="{{ 'product_image'|trans }}"/>
      </div>
      <div class="col-9">
        <small class="mb-1 text-break">{{ product.name }}</small>
      </div>
    </div>
  </a>
  {% set numberOfResults = numberOfResults + 1 %}
{% else %}
  <div class="text-center text-secondary mb-2">
    <i class="fas fa-keyboard fa-2x" aria-hidden="true"></i>
  </div>
  <div class="text-center text-secondary">
    <span>{{ 'results_appear_as_you_type'|trans }}</span>
  </div>
{% endfor %}

<small class="result-count text-center text-secondary mt-3"
  data-instant-search-status="{{ 'number_of_results_found'|trans({'results': numberOfResults}) }}">
  {{ 'number_of_results_found'|trans({'results': numberOfResults}) }}
</small>
