{#
Copyright 2019 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{# This is used to give a special class to the first item of the loop, so
it can be focused when a new batch of items is loaded onto the page. #}
{% set firstItem = true %}

{# To always get an integer, we use Twig's round filter. This way, when there are
10 pages and the last one is only half-full, we get 10 instead of 9.5. #}
{% set lastPage = (pagination.getTotalItemCount / pagination.getItemNumberPerPage)|round(0, 'ceil') %}

{% for product in pagination %}
  <article class="col feed-item feed-new-item p-4 {% if firstItem == true %}focus-me{% endif %}"
    tabindex="-1" data-number-of-results="{{ pagination.getTotalItemCount }}"
    data-page-size="{{ pagination.getItemNumberPerPage }}" data-last-page="{{ lastPage }}"
    aria-labelledby="{{ product.id ~ '_label' }}">
    <a href="{{ path('product_page', {slug: product.slug}) }}">
      <img src="{{ asset(product_image_directory ~ product.image) }}"
        class="img-fluid" alt="{{ 'product_image'|trans }}"/>
      <p id="{{ product.id ~ '_label' }}" class="text-kabum-dark-blue lead text-break">
        {{ product.name }}
      </p>
    </a>
    <div class="mb-3">
      <small class="text-secondary">{{ product.description }}</small>
    </div>
    <div class="bg-kabum-orange rounded text-center py-1">
      <h5 class="font-weight-bold text-white">
        R$ {{ (product.price / 100)|number_format(2, ',', '.') }}
      </h5>
    </div>
  </article>
  {% set firstItem = false %}
{% endfor %}

<article class="feed-control feed-item feed-new-item col p-4" tabindex="-1">
  <button class="feed-button feed-button-ready kabum-button bg-transparent border-0 p-0 w-100 h-100"
    role="button" data-label="fb-ready">
    <div class="d-flex flex-column">
      <div>
        <i class="fas fa-boxes fa-4x mb-4" aria-hidden="true"></i>
      </div>
      <div>
        <span id="fb-ready" class="lead">{{ 'see_more_products'|trans }}</span>
      </div>
    </div>
  </button>

  <button class="feed-button feed-button-loading bg-transparent border-0 p-0 w-100 h-100"
    role="button" data-label="fb-loading">
    <div class="d-flex justify-content-center">
      <div class="spinner-grow text-kabum-orange">
        <span id="fb-loading" class="sr-only">{{ 'loading'|trans }}</span>
      </div>
    </div>
  </button>

  <button class="feed-button feed-button-error kabum-error-button bg-transparent border-0 p-0 w-100 h-100"
    role="button" data-label="fb-error">
    <div class="d-flex flex-column">
      <div>
        <i class="fas fa-exclamation-triangle fa-4x mb-4" aria-hidden="true"></i>
      </div>
      <div>
        <span id="fb-error" class="lead">
          {{ 'something_wrong_click_try_again'|trans }}
        </span>
      </div>
    </div>
  </button>

  <button class="feed-button feed-button-nothing-else bg-transparent border-0 p-0 w-100 h-100"
    role="button" data-label="fb-nothing-else">
    <div class="d-flex flex-column">
      <div>
        <i class="fas fa-box-open fa-4x text-silver mb-4" aria-hidden="true"></i>
      </div>
      <div>
        <span id="fb-nothing-else" class="lead text-secondary">
          {{ 'this_is_all'|trans }}
        </span>
      </div>
    </div>
  </button>
</article>
