{#
Copyright 2019 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{# This is used to give a special class to the first item of the loop, so
it can be focused when a new batch of items is loaded onto the page. #}
{% set firstItem = true %}

{% for product in pagination %}
  <div class="col p-4">
    <article data-number-of-results="{{ pagination.getTotalItemCount }}"
      data-page-size="{{ pagination.getItemNumberPerPage }}"
      data-last-page="{{ pagination.getTotalItemCount / pagination.getItemNumberPerPage }}">
      <a href="{{ path('product_page', {slug: product.slug}) }}"
        class="{% if firstItem == true %}focus-me{% endif %}">
        <img src="{{ asset(product.image) }}" class="img-fluid" alt="{{ 'product_image'|trans }}"/>
        <p class="text-kabum-dark-blue lead text-break">{{ product.name }}</p>
      </a>
      <div class="mb-3">
        <small class="text-secondary">{{ product.description }}</small>
      </div>
      <div class="bg-kabum-orange rounded text-center py-1">
        <h5 class="font-weight-bold text-white">
          R$ {{ (product.price / 100)|number_format(2, ',', '.') }}
        </h5>
      </div>
    </article>
  </div>
  {% set firstItem = false %}
{% endfor %}
