{#
Copyright 2019-2020 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'main/layout.html.twig' %}

{% block title %}{{ category.name }} - {{ parent() }}{% endblock %}

{% block main %}
  <h3 class="font-weight-light text-secondary mb-3">
    <i class="fas fa-tag" aria-hidden="true"></i>
    {{ category.name }}
  </h3>

  <div id="feed">
    <div class="feed-loading-screen feed-screen feed-collapsible feed-expanded">
      <div class="spinner-grow text-kabum-light-blue"></div>
    </div>
    <div class="feed-error-screen feed-screen feed-collapsible">
      <div class="text-center">
        <i class="fas fa-frown-open text-silver fa-4x" aria-hidden="true"></i>
        <p class="lead text-secondary mt-4 mb-0">
          {{ 'something_wrong'|trans }}
        </p>
      </div>
    </div>
    <div class="feed-nothing-here-screen feed-screen feed-collapsible">
      <div class="text-center">
        <i class="fas fa-box-open text-silver fa-4x" aria-hidden="true"></i>
        <p class="lead text-secondary mt-4 mb-0">
          {{ 'no_products_in_category'|trans }}
        </p>
      </div>
    </div>

    <section role="feed" aria-busy="false" data-target="{{ category.slug }}"
      aria-label="{{ 'feed_help'|trans }}"
      class="feed-data row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
    </section>
  </div>
{% endblock %}
