{#
Copyright 2019 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'main/layout.html.twig' %}

{% block title %}{{ category.name }} - {{ parent() }}{% endblock %}

{% block main %}
  <section class="container-fluid">
    <h3 class="font-weight-light text-kabum-dark-blue m-3">{{ category.name }}</h3>

    {# Status indicators for screen readers #}
    <span id="request-status" class="sr-only" role="status" data-loading="{{ 'loading'|trans }}"
      data-ready="{{ 'loading_complete'|trans }}" data-error="{{ 'something_wrong'|trans }}"></span>

    <div id="loader" class="d-flex justify-content-center align-items-center">
      <div class="spinner-grow text-kabum-light-blue"></div>
    </div>
    <div id="error" class="hidden d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column align-items-center">
        <i class="fas fa-frown-open text-silver fa-4x" aria-hidden="true"></i>
        <p class="lead text-center text-secondary mt-4">
          {{ 'something_wrong'|trans }}
        </p>
      </div>
    </div>
    <div id="nothing-here" class="hidden d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column align-items-center">
        <i class="fas fa-box-open text-silver fa-4x" aria-hidden="true"></i>
        <p class="lead text-center text-secondary mt-4">
          {{ 'no_products_in_category'|trans }}
        </p>
      </div>
    </div>

    <section id="product-grid" role="feed" aria-busy="false" data-slug="{{ category.slug }}"
      class="ajax-paginate row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4"></section>

    <div id="nothing-else" class="pb-4 pt-2 text-center">
      <hr/>
      <small class="text-secondary">
        {{ 'no_more_products'|trans }}
      </small>
    </div>
  </section>
{% endblock %}
