{#
Copyright 2019 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'main/layout.html.twig' %}

{% block title %}{{ product.name }} - KaBuM!{% endblock %}

{% block main %}
  <section class="container-fluid">
    <div class="px-0 px-md-3">
      <h3 class="font-weight-light text-kabum-dark-blue my-3">{{ product.name }}</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('main_page') }}">Início</a></li>
          <li class="breadcrumb-item">
            <a href="{{ path('category_page', {slug: product.category.slug}) }}">
              {{ product.category.name }}
            </a>
          </li>
        </ol>
      </nav>
      <div class="row mt-4">
        <div class="col-sm-5 col-lg-4 col-xl-3">
          <img src="{{ asset(product.image) }}" class="img-fluid" alt="Product image"/>
        </div>
        <div class="col-sm-7 col-lg-8 col-xl-9">
          <p>{{ product.description }}</p>
          <h3 class="font-weight-bold text-kabum-orange text-center text-sm-left">
            R$ {{ (product.price / 100)|number_format(2, ',', '.') }}
          </h3>
        </div>
      </div>
      <p class="mt-5">{{ product.longDescription|markdown_to_html }}</p>
    </div>
  </section>
{% endblock %}
