{#
Copyright 2019-2020 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'edit_product'|trans }} - {{ parent() }}{% endblock %}

{% import '_macros.html.twig' as macros %}

{% block main %}
  <div class="d-flex align-items-center mb-3">
    <a href="{{ path('admin_product_overview') }}" class="kabum-button p-2 mr-2"
      title="{{ 'return_to_product_overview'|trans }}">
      <span class="sr-only">{{ 'return_to_product_overview'|trans }}</span>
      <i class="fas fa-arrow-left fa-lg" aria-hidden="true"></i>
    </a>
    <h3 class="font-weight-light text-kabum-dark-blue mb-0">
      {{ 'edit_product'|trans }}
    </h3>
  </div>

  {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
      {{ form_label(form.name) }}
      {{ form_widget(form.name) }}
      {{ macros.renderFormError() }}
    </div>

    <div class="form-group">
      {{ form_label(form.description) }}
      {{ form_widget(form.description) }}
      {{ macros.renderFormError() }}
    </div>

    <div class="form-group">
      {{ form_label(form.longDescription) }}
      {{ form_widget(form.longDescription, {'attr': {'aria-describedby': form.longDescription.vars.id ~ '_help'}}) }}
      {{ macros.renderFormError() }}
      {{ form_help(form.longDescription) }}
    </div>

    <div class="form-group">
      {{ form_label(form.category) }}
      {{ form_widget(form.category) }}
      {{ macros.renderFormError() }}
    </div>

    <div class="form-group">
      {{ form_label(form.price) }}
      {{ form_widget(form.price) }}
      {{ macros.renderFormError() }}
    </div>

    <div class="d-flex mb-3">
      <div class="product-image-thumbnail">
        <img src="{{ asset(product_image_directory ~ product.image) }}"
          class="product-image-thumbnail" alt="{{ 'current_product_image'|trans }}">
      </div>
      <div class="w-100 ml-3">
        {{ form_row(form.imageFile) }}
      </div>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-kabum-orange" value="{{ 'apply_changes'|trans }}"/>
    </div>
  {{ form_end(form) }}
{% endblock %}
