{#
Copyright 2019 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% macro renderPanelItem(targetRoute, label, iconClasses) %}
  {% set currentRouteName = app.request.attributes.get('_route') %}

  {% if currentRouteName == targetRoute %}
    <a class="control-panel-item control-panel-current-item"
      href="{{ path(targetRoute) }}" aria-current="page">
      <div class="d-flex">
        <div class="align-self-center mr-2">
          <i class="{{ iconClasses }} fa-fw" aria-hidden="true"></i>
        </div>
        <div>
          {{ label|trans }}
        </div>
      </div>
    </a>
  {% else %}
    <a class="control-panel-item" href="{{ path(targetRoute) }}">
      <div class="d-flex">
        <div class="align-self-center mr-2">
          <i class="{{ iconClasses }} fa-fw" aria-hidden="true"></i>
        </div>
        <div>
          {{ label|trans }}
        </div>
      </div>
    </a>
  {% endif %}
{% endmacro %}

{% block body %}
  <div class="d-flex flex-column flex-md-row">
    <header class="sticky-sidebar bg-black">
      <div class="skip-to-content">
        <a class="skip-to-content-anchor" href="#main-content">{{ 'skip_to_main'|trans }}</a>
      </div>
      <div class="d-flex justify-content-between">
        <a class="control-panel-item flex-md-grow-1" href="{{ path('main_page') }}">
          <i class="fas fa-arrow-left fa-fw" aria-hidden="true"></i>
          {{ 'back_to_store'|trans }}
        </a>
        <button class="kabum-collapse-dark-button d-md-none" type="button"
          data-toggle="collapse" data-target="#ss-collapsible" aria-expanded="false"
          aria-controls="ss-collapsible" aria-label="{{ 'toggle_main_menu'|trans }}">
          <i class="fas fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <div id="ss-collapsible" class="sticky-sidebar-collapsible collapse mt-md-3">
        {{ _self.renderPanelItem('admin_new_product', 'add_new_product', 'fas fa-plus') }}
        {{ _self.renderPanelItem('admin_category_management', 'manage_categories', 'fas fa-tags') }}
      </div>
    </header>
    <main id="main-content" class="d-flex flex-column w-100">
      {% block main %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('admin') }}
{% endblock %}
