{#
Copyright 2019-2020 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block header %}{% endblock %}

{% import '_macros.html.twig' as macros %}

{% block body %}
  <header class="header-bar bg-light">
    <button class="collapsible-toggle kabum-collapse-button d-md-none" data-target="#nav-menu"
      aria-label="{{ 'toggle_main_menu'|trans }}" aria-expanded="false" aria-controls="nav-menu"
      aria-haspopup="true">
      <i class="fas fa-bars fa-lg" aria-hidden="true"></i>
    </button>
    <nav id="nav-menu" class="navigation-panel np-collapsible navigation-menu navigation-menu-scrollable bg-light">
      {{ macros.renderMenuItem('main_page', 'back_to_store', 'fas fa-arrow-left') }}
      {{ macros.renderMenuItem('admin_new_product', 'add_new_product', 'fas fa-plus') }}
      {{ macros.renderMenuItem('admin_category_management', 'manage_categories', 'fas fa-tags') }}
    </nav>
    <a href="{{ path('main_page') }}" class="d-none d-md-flex align-items-center kabum-button px-3">
      <div class="d-flex">
        <div class="mr-2">
          <i class="fas fa-arrow-left fa-lg" aria-hidden="true"></i>
        </div>
        <div>
          {{ 'back_to_store'|trans }}
        </div>
      </div>
    </a>
    <a href="{{ path('main_page') }}" class="header-logotype" aria-label="{{ 'go_home_page'|trans }}">
      <img src="{{ asset('images/kabum.png') }}" class="header-logotype-img" alt="{{ 'logotype'|trans }}">
    </a>
    <div class="dropdown d-flex mr-1"> {# The right margin keeps the dropdown menu from being too close to the edge #}
      <button class="kabum-button dropdown-toggle px-3" type="button" id="userMenu"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        aria-label="{{ 'user_menu'|trans }}">
        <i class="fas fa-user" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
        <a class="dropdown-item" href="{{ path('user_account') }}">{{ 'your_account'|trans }}</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'sign_out'|trans }}</a>
      </div>
    </div>
  </header>
  <div class="d-flex">
    <div class="control-panel-sidebar">
      {{ macros.renderMenuItem('admin_new_product', 'add_new_product', 'fas fa-plus') }}
      {{ macros.renderMenuItem('admin_category_management', 'manage_categories', 'fas fa-tags') }}
    </div>
    <main id="main-content" class="d-flex flex-column w-100">
      {% block main %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('admin') }}
{% endblock %}
