{#
Copyright 2019-2020 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'add_new_product'|trans }} - {{ parent() }}{% endblock %}

{% import '_macros.html.twig' as macros %}

{% block main %}
  <div class="container-fluid">
    <h3 class="font-weight-light text-kabum-dark-blue my-3">
      {{ 'add_new_product'|trans }}
    </h3>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}
      {{ form_errors(form) }}

      <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ macros.renderFormError() }}
      </div>

      <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ macros.renderFormError() }}
      </div>

      <div class="form-group">
        {{ form_label(form.longDescription) }}
        {{ form_widget(form.longDescription, {'attr': {'aria-describedby': form.longDescription.vars.id ~ '_help'}}) }}
        {{ macros.renderFormError() }}
        {{ form_help(form.longDescription) }}
      </div>

      <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_widget(form.category) }}
        {{ macros.renderFormError() }}
      </div>

      <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
        {{ macros.renderFormError() }}
      </div>

      {{ form_row(form.imageFile) }}

      {# The submit button is created here to preserve the form's reusability
      for other purposes #}
      <div class="form-group">
        <input type="submit" class="btn btn-kabum-orange" value="{{ 'create'|trans }}"/>
      </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
