{% macro renderMenuItem(targetRoute, labelText, iconClasses, badgeValue) %}
  {% set currentRouteName = app.request.attributes.get('_route') %}

  {% if currentRouteName == targetRoute %}
    <a class="navigation-menu-item navigation-menu-current-item flex-fill"
      href="{{ path(targetRoute) }}" aria-current="page">
      <div class="d-flex">
        <div class="mr-2">
          <i class="{{ iconClasses }} fa-fw align-baseline" aria-hidden="true"></i>
        </div>
        <div class="text-nowrap text-truncate">
          {{ labelText|trans }}
        </div>
        {% if badgeValue %}
          <div class="ml-2 ml-auto">
            <span class="badge badge-secondary align-middle">{{ badgeValue }}</span>
          </div>
        {% endif %}
      </div>
    </a>
  {% else %}
    <a class="navigation-menu-item flex-fill" href="{{ path(targetRoute) }}">
      <div class="d-flex">
        <div class="mr-2">
          <i class="{{ iconClasses }} fa-fw align-baseline" aria-hidden="true"></i>
        </div>
        <div class="text-nowrap text-truncate">
          {{ labelText|trans }}
        </div>
        {% if badgeValue %}
          <div class="ml-2 ml-auto">
            <span class="badge badge-secondary align-middle">{{ badgeValue }}</span>
          </div>
        {% endif %}
      </div>
    </a>
  {% endif %}
{% endmacro %}
