{#
Copyright 2019-2020 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{#
Outputs a navigation menu anchor element.

The current page is identified by the targetRoute argument, but you can optionally
pass a string as the matchString argument to have the current route path matched
against it. For example, the string 'user/settings' can be used to match all
routes that begin with it, such as 'user/settings/account' and 'user/settings/profile'.

Another optional argument is badgeValue, which will insert a Bootstrap badge
containing its value right after the label.
#}
{% macro renderMenuItem(targetRoute, label, iconClasses, badgeValue, matchString) %}
  {% set currentRouteName = app.request.attributes.get('_route') %}

  {% if matchString %}
    {% set currentRoutePath = app.request.uri %}
  {% endif %}

  {% if currentRouteName == targetRoute or (matchString and matchString in currentRoutePath) %}
    <a class="navigation-menu-item navigation-menu-current-item flex-fill"
      href="{{ path(targetRoute) }}" aria-current="page">
      <div class="d-flex">
        <div class="mr-2">
          <i class="{{ iconClasses }} fa-fw align-baseline" aria-hidden="true"></i>
        </div>
        <div class="text-nowrap text-truncate">
          {{ label|trans }}
        </div>
        {% if badgeValue %}
          <div class="ml-2 ml-auto">
            <span class="sr-only">{{ 'count_of_items'|trans }}</span>
            <span class="badge badge-secondary align-middle">{{ badgeValue }}</span>
          </div>
        {% endif %}
      </div>
    </a>
  {% else %}
    <a class="navigation-menu-item flex-fill" href="{{ path(targetRoute) }}">
      <div class="d-flex">
        <div class="mr-2">
          <i class="{{ iconClasses }} fa-fw align-baseline" aria-hidden="true"></i>
        </div>
        <div class="text-nowrap text-truncate">
          {{ label|trans }}
        </div>
        {% if badgeValue %}
          <div class="ml-2 ml-auto">
            <span class="sr-only">{{ 'count_of_items'|trans }}</span>
            <span class="badge badge-secondary align-middle">{{ badgeValue }}</span>
          </div>
        {% endif %}
      </div>
    </a>
  {% endif %}
{% endmacro %}

{% macro renderFormError() %}
  <span class="validator-error invalid-feedback not-validated"
    data-empty="{{ 'required_fields_empty'|trans([], 'validators') }}"
    data-too-short="{{ 'value_too_short'|trans([], 'validators') }}"
    data-too-long="{{ 'value_too_long'|trans([], 'validators') }}"
    data-pattern="{{ 'pattern_mismatch'|trans([], 'validators') }}"
    data-password-match="{{ 'password_mismatch'|trans([], 'validators') }}">
    <span class="d-block">
      <span class="badge badge-danger text-uppercase">
        {{ 'error'|trans }}
      </span>
      <span class="validator-message"></span>
    </span>
  </span>
{% endmacro %}

{% macro deleteCategoryModal() %}
  <div class="modal fade deleteCategoryModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title bs-modal-title" id="deleteCategoryModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'close'|trans }}">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ 'cannot_be_undone'|trans }}
          {{ 'can_only_delete_empty_categories'|trans }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">
            {{ 'cancel'|trans }}
          </button>
          <form class="bs-modal-action" method="post">
            <input type="hidden" name="token" value="{{ csrf_token('delete-category') }}"/>
            <button type="submit" class="btn btn-kabum-orange">
              {{ 'delete_category'|trans }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro deleteProductModal() %}
  <div class="modal fade deleteProductModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title bs-modal-title" id="deleteProductModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'close'|trans }}">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ 'cannot_be_undone'|trans }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">
            {{ 'cancel'|trans }}
          </button>
          <form class="bs-modal-action" method="post">
            <input type="hidden" name="token" value="{{ csrf_token('delete-product') }}"/>
            <button type="submit" class="btn btn-kabum-orange">
              {{ 'delete_product'|trans }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
