{#
Copyright 2019-2020 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{% set currentLocale = app.request.locale %}
{% set shoppingCartCount = app.session.get(shopping_cart)|length %}

{# This is used to set the current page indicator on items of the
departments list. If defined, it will retrieve the category slug
from the current request. If it's not, an empty string is passed
instead, which effectively prevents the indicator from being set. #}
{% if app.request.attributes.get('_route_params').category_slug is defined %}
  {% set categorySlug = app.request.attributes.get('_route_params').category_slug %}
{% else %}
  {% set categorySlug = '' %}
{% endif %}

{% import '_macros.html.twig' as macros %}

<!DOCTYPE html>
<html lang="{{ currentLocale }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ 'kabum'|trans }}{% endblock %}</title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body>
    {% block flash %}
      {% for label, messages in app.flashes %}
        {% for message in messages %}
          <div class="flash alert alert-{{ label }} alert-dismissible fade show shadow m-4" role="alert">
            {{ message|trans }}
            <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'close'|trans }}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endfor %}
    {% endblock %}

    {% block skipToContent %}
      <div class="skip-to-content">
        <a class="skip-to-content-anchor" href="#main-content">{{ 'skip_to_main'|trans }}</a>
      </div>
    {% endblock %}

    {% block header %}
      <header class="header-bar bg-white">
        <a href="{{ path('main_page') }}" class="header-logotype" aria-label="{{ 'go_home_page'|trans }}">
          <img src="{{ asset('images/kabum.png') }}" class="header-logotype-img" alt="{{ 'logotype'|trans }}">
        </a>
        <div class="instant-search is-wrapper mx-1">
          <form action="{{ path('search') }}" role="search"
            class="d-flex flex-grow-1 justify-content-between align-items-center search-input-wrapper">
            <label for="is-input" class="mr-2 mb-0">
              <span class="sr-only">{{ 'search'|trans }}</span>
              <i class="fas fa-search text-secondary" aria-hidden="true"></i>
            </label>
            <input id="is-input" type="search" name="query" data-target="{{ path('instant_search') }}"
              class="instant-search-input search-input" placeholder="{{ 'search'|trans }}"
              autocomplete="off" autocapitalize="off" role="combobox" aria-autocomplete="list"
              aria-describedby="is-help" aria-expanded="false"
              aria-controls="is-box"/>
            <span id="is-help" class="sr-only">
              {{ 'results_appear_as_you_type'|trans }}
            </span>
            <div id="is-box" class="instant-search-box is-box is-collapsible" role="listbox">
              <div class="instant-search-result list-group"></div>
            </div>
          </form>
        </div>
        <div class="d-md-flex d-none">
          <a class="kabum-action-button" aria-label="{{ 'shopping_cart'|trans }}"
            href="{{ path('shopping_cart') }}">
            <i class="fas fa-shopping-cart" aria-hidden="true"></i>
            {% if shoppingCartCount %}
              <small class="font-weight-bold ml-1">{{ shoppingCartCount }}</small>
            {% endif %}
          </a>
          {% if app.user %}
            <a class="kabum-action-button" aria-label="{{ 'wishlist'|trans }}"
              role="button" href="#">
              <i class="fas fa-bookmark" aria-hidden="true"></i>
            </a>
            <div class="dropdown d-flex mr-1">
              <a class="kabum-action-button dropdown-toggle" role="button" href="#"
                id="user-menu" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" aria-label="{{ 'user_menu'|trans }}">
                <i class="fas fa-user" aria-hidden="true"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu">
                {% if is_granted('ROLE_ADMIN') %}
                  <a class="dropdown-item" href="{{ path('admin_new_product') }}">{{ 'control_panel'|trans }}</a>
                {% endif %}
                <a class="dropdown-item" href="{{ path('user_page') }}">{{ 'your_account'|trans }}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'sign_out'|trans }}</a>
              </div>
            </div>
          {% else %}
            <a class="kabum-action-button" href="{{ path('app_login') }}"
              aria-label="{{ 'sign_in_kabum_account'|trans }}">
              <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
            </a>
          {% endif %}
        </div>
        <button class="np-toggle kabum-collapse-button d-md-none" data-target="#nav-menu"
          data-fullscreen="true" data-vertical-transition="false" data-close-on-resize="false"
          aria-label="{{ 'toggle_main_menu'|trans }}" aria-expanded="false"
          aria-controls="nav-menu" aria-haspopup="true">
          <i class="fas fa-bars fa-lg" aria-hidden="true"></i>
        </button>
        <nav id="nav-menu" class="np-collapsible navigation-menu navigation-menu-right navigation-menu-scrollable bg-white">
          {% if app.user %}
            <div class="d-flex">
              {{ macros.renderMenuItem('user_page', 'your_account', 'fas fa-user') }}
              {{ macros.renderMenuItem('app_logout', 'sign_out', 'fas fa-sign-out-alt') }}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
              {{ macros.renderMenuItem('admin_new_product', 'control_panel', 'fas fa-sliders-h') }}
            {% endif %}
            {{ macros.renderMenuItem('main_page', 'wishlist', 'fas fa-bookmark') }}
          {% else %}
            {{ macros.renderMenuItem('app_login', 'sign_in_your_account', 'fas fa-sign-in-alt') }}
          {% endif %}
          {{ macros.renderMenuItem('shopping_cart', 'shopping_cart', 'fas fa-shopping-cart', shoppingCartCount) }}

          {% block navigation_panel %}
            <h5 class="text-kabum-orange p-3 mt-2 mb-0">{{ 'departments'|trans }}</h5>
            <div class="category-list category-list-navpanel" data-category-slug="{{ categorySlug }}"
              data-target="{{ path('get_categories') }}"></div>
          {% endblock %}
        </nav>
      </header>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
