{#
Copyright 2019 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'user/layout.html.twig' %}

{% block title %}{{ 'account_settings'|trans }} - {{ parent() }}{% endblock %}

{% block main %}
  <div class="container-fluid">
    <h3 class="font-weight-light text-kabum-dark-blue my-3">
      {{ 'account_settings'|trans }}
    </h3>

    {{ form_start(form) }}
      {{ form_errors(form) }}

      {{ form_row(form.username) }}
      {{ form_row(form.currentPassword) }}

      <div class="row">
        <div class="col-md">
          {{ form_row(form.password.first) }}
        </div>
        <div class="col-md">
          {{ form_row(form.password.second) }}
        </div>
      </div>

      {# The submit button is created here to preserve the form's reusability
      for other purposes #}
      <div class="form-group">
        <input type="submit" class="btn btn-kabum-orange" value="{{ 'apply_changes'|trans }}"/>
      </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
