{#
Copyright 2019-2020 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'user/layout.html.twig' %}

{% block title %}{{ 'security'|trans }} - {{ parent() }}{% endblock %}

{% import '_macros.html.twig' as macros %}

{% block main %}
  <h3 class="font-weight-light text-secondary mb-3">
    <i class="fas fa-shield-alt" aria-hidden="true"></i>
    {{ 'security'|trans }}
  </h3>

  {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
      {{ form_label(form.username) }}
      {{ form_widget(form.username, {'attr': {'aria-describedby': form.username.vars.id ~ '_help'}}) }}
      {{ macros.renderFormError() }}
      {{ form_help(form.username) }}
    </div>

    <div class="form-group">
      {{ form_label(form.currentPassword) }}
      {{ form_widget(form.currentPassword, {'attr': {'aria-describedby': form.currentPassword.vars.id ~ '_help'}}) }}
      {{ macros.renderFormError() }}
      {{ form_help(form.currentPassword) }}
    </div>

    <div class="row">
      <div class="col-md">
        <div class="form-group">
          {{ form_label(form.password.first) }}
          {{ form_widget(form.password.first) }}
          {{ macros.renderFormError() }}
        </div>
      </div>
      <div class="col-md">
        <div class="form-group">
          {{ form_label(form.password.second) }}
          {{ form_widget(form.password.second) }}
          {{ macros.renderFormError() }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-kabum-orange" value="{{ 'apply_changes'|trans }}"/>
    </div>
  {{ form_end(form) }}
{% endblock %}
